<body>
    <table border="4" width="100%" height="100%">
        <tr>
            <td colspan="2"> 2 kolom 1 baris </td>
            <td>baris 1 kolom 3</td>
        <tr>
            <td>baris 2 kolom 1</td>
            <td>baris 2 kolom 2</td>
            <td>baris 2 kolom 3</td>
        </tr>
		<tr>
            <td>baris 3 kolom 1</td>
            <td>baris 3 kolom 2</td>
            <td>baris 3 kolom 3</td>
        </tr>
    </table>
    </body>